
@{
    ViewBag.Title = "About Us";
}

<link rel="stylesheet" href="~/Content/Home/HomeAbout.css" type="text/css" />

<div class="jumbotron">
    <h1 style="text-align: center;">About Us</h1>
</div>

<div class="row">
    <div class="col-md-4 col-11 imageDiv">
        <img src="~/Pictures/gallery8.jpg" class="aboutImage"/>
    </div>
    <div class="col-md-8 col-11 aboutText">
        <p>
            Study Point is a web project for all programming languages and software, which includes all
            online &nbsp;web-related activities for learning, as well as answers to questions from students, teachers, and developers.
        </p>
        <p>
            We use a combination of surveys, focus groups, and personal interviews to reach students,
            teachers, developers, software developers, human resource managers, development companies, and more.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-11 aboutText">
        <p>
            Study Point is a web project for all programming languages and software, which includes all
            online &nbsp;web-related activities for learning, as well as answers to questions from students, teachers, and developers.
        </p>
        <p>
            We use a combination of surveys, focus groups, and personal interviews to reach students,
            teachers, developers, software developers, human resource managers, development companies, and more.
        </p>
    </div>
    <div class="col-md-4 col-11 imageDiv">
        <img src="~/Pictures/gallery5.jpg" class="aboutImage" />
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-11 imageDiv">
        <img src="~/Pictures/gallery7.jpg" class="aboutImage" />
    </div>
    <div class="col-md-8 col-11 aboutText">
        <p>
            Study Point is a web project for all programming languages and software, which includes all
            online &nbsp;web-related activities for learning, as well as answers to questions from students, teachers, and developers.
        </p>
        <p>
            We use a combination of surveys, focus groups, and personal interviews to reach students,
            teachers, developers, software developers, human resource managers, development companies, and more.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 linkButton">
        @Html.ActionLink("Gallery", "Gallery", "Home", new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-6 linkButton">
        @Html.ActionLink("Department", "Department", "Home", new { @class = "btn btn-primary" })
    </div>
</div>
