@{
    ViewBag.Title = "Contact Us";
}
<br />
<h2 style="text-align:center;">@ViewBag.Title</h2>

<link rel="stylesheet" href="~/Content/Home/HomeContact.css" type="text/css" />

<div class="row">
    <!-- Boxes de Acoes -->
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="info">
                    <h3 class="title">MAIL & WEBSITE</h3>
                    <p>
                        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp akash.chauhan@leadsquared.com
                        <br>
                        <br>
                        <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.no-namewbsite.com
                    </p>

                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                <div class="info">
                    <h3 class="title">CONTACT</h3>
                    <p>
                        <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-7982944709
                        <br>
                        <br>
                        <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-7532133025
                    </p>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="info">
                    <h3 class="title">ADDRESS</h3>
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp Will provide as soon as I am given
                    </p>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

</div>