
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="text-align: center;">Our Team Members</h1>
</div>
<link rel="stylesheet" href="~/Content/Home/HomeDepartment.css" type="text/css" />

    <div class="row">
        <div class="col-xs-6 col-md-4 cards">
            <a href="#" class="thumbnail">
                <img src="~/Pictures/department1.jpg">
            </a>
            <h4><b>Tony Stark</b></h4>
            <h5>Professor of the Practice</h5>
            <h6>Electrical Engineering and Computer Science</h6>
        </div>
        <div class="col-xs-6 col-md-4 cards">
            <a href="#" class="thumbnail">
                <img src="~/Pictures/department2.jpg">
            </a>
            <h4><b>Carol Shelby</b></h4>
            <h5>Instructor</h5>
            <h6>EECS</h6>
        </div>
        <div class="col-xs-6 col-md-4 cards">
            <a href="#" class="thumbnail">
                <img src="~/Pictures/department3.jpg">
            </a>
            <h4><b>Xin Xia</b></h4>
            <h5>Associate Professor of Computer Science</h5>
            <h6>Electrical Engineering and Computer Science</h6>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6 col-md-4 cards">
            <a href="#" class="thumbnail">
                <img src="~/Pictures/department4.jpg">
            </a>
            <h4><b>Micheal Walker</b></h4>
            <h5>Instructor - Graduate Student pursuing PhD in Computer Science</h5>
            <h6>EECS</h6>
        </div>
        <div class="col-xs-6 col-md-4 cards">
            <a href="#" class="thumbnail">
                <img src="~/Pictures/department5.jpg">
            </a>
            <h4><b>Douglas C. Schmidt</b></h4>
            <h5>Professor of Computer Science</h5>
            <h6>Electrical Engineering and Computer Science</h6>
        </div>
        <div class="col-xs-6 col-md-4 cards">
            <a href="#" class="thumbnail">
                <img src="~/Pictures/department6.jpg">
            </a>
            <h4><b>David Warner</b></h4>
            <h5>Associate Professor of Computer Science</h5>
            <h6>Electrical Engineering and Computer Science</h6>
        </div>
    </div>
<br />
