
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;">Gallery</h1>

<br />

    <div class="row">
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery1.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="~/Pictures/gallery1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery2.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery2.jpg">
            </a>
            
        </div>
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery3.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery3.jpg">
            </a>
            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery4.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery4.jpg">
            </a>
            
        </div>
        <div class="col-xs-6 col-md-4 cards">
            <a href="~/Pictures/gallery5.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery5.jpg">
            </a>
            
        </div>
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery6.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery6.jpg">
            </a>
            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery7.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery7.jpg">
            </a>
            
        </div>
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery8.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery8.jpg">
            </a>
            
        </div>
        <div class="col-xs-6 col-md-4 homeGalleryCards">
            <a href="~/Pictures/gallery9.jpg" target="_blank" class="thumbnail">
                <img src="~/Pictures/gallery9.jpg">
            </a>
            
        </div>
    </div>

<br />