@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/Home/HomeIndex.css" type="text/css" />

<div class="full-width">
    <div class="hero">
        <h2>WELCOME TO STUDYPOINT</h2>
    </div>
</div>
<div class="row AboutUs">
    <div class="col-12" style= "text-align:center;justify-content:center;">

        <h2 style="font-size: 55px; font-weight:900;">Who we are?</h2>
        <h4 style="line-height: 30px; letter-spacing: 1px; font-weight: 500;">
            Study Point is a web project for all programming languages and software, <br />
            which includes all online  web-related activities for learning, as well as <br />
            answers to questions from students, teachers, and developers.
        </h4>

    </div>
</div>
 <br />
<div class="row">
    <div class="col-xs-6 col-md-4 cards">
        <a href="https://localhost:44383/User"class="thumbnail">
            <img src="~/Pictures/programminglanguage.jpg">
        </a>
        Programming Languages
    </div>
    <div class="col-xs-6 col-md-4 cards">
        <a href="https://localhost:44383/User" class="thumbnail">
            <img src="~/Pictures/webdevelopment.jpg">
        </a>
        Web Development
    </div>
    <div class="col-xs-6 col-md-4 cards">
        <a href="https://localhost:44383/User" class="thumbnail">
            <img src="~/Pictures/machinelearning.jpg">
        </a>
        Machine Learning
    </div>
</div>


<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h2><span class="ion-minus"></span>Our Team<span class="ion-minus"></span></h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis  dis parturient montes, nascetur ridiculus </p><br>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="img-rounded" alt="team-photo" src="~/Pictures/department1.jpg" width="100%">

                <div class="team-member">
                    <h4>Tony Stark</h4>
                    <p>Professor of the Practice</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="img-rounded" alt="team-photo" src="~/Pictures/department2.jpg" width="100%">

                <div class="team-member">
                    <h4>Carol Shelby</h4>
                    <p>Instructor</p>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="img-rounded" alt="team-photo" src="~/Pictures/department3.jpg" width="100%">

                <div class="team-member">
                    <h4>Micheal Walker</h4>
                    <p>CEO and Instructor - Graduate Student pursuing PhD in Computer Science</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12" style="text-align:center;">
        <h2 style="font-size: 55px; font-weight:900;">What Learners Has To Say</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5 col-11 reviewBox">
        <h6><br /><b>Lloyd Nsiah</b></h6>
        <i><br />Highly recomended for those who want to start learning Android development.</i>
    </div>
    <div class="col-md-5 col-11 reviewBox">
        <h6><br /><b>Sam Rishi</b></h6>
        <i>
            <br />It is a perfect course for beginners who are seeking to learn both java as well as app development. And each and every topics are explained clearly in the sessions.
            And I loved this course as it was the perfect match I was searching for !
        </i>
    </div>
</div>

<div class="row">
    <div class="col-12" style= "text-align:center;">
        <h2 style="font-size: 55px; font-weight:900;">Come Join Us</h2>
    </div>
</div>