
@{
    ViewBag.Title = "ExceptionView";
    Layout = "~/Views/Shared/UserSharedView.cshtml";
}
<br />
<h1 class="danger">There is an error</h1>
<h2 class="danger">Something went wrong with your request!</h2>

