
@{
    ViewBag.Title = "NoFileChoosen";
    Layout = "~/Views/Shared/UserSharedView.cshtml";
}
<br />
<h2>No File Choosen To Upload</h2>
<br />
<h3>Please Choose A File To Upload</h3>

@Html.ActionLink("Back to Upload", "ShareFile", "User2")

