<style>
    .logo{
        color:white;
        text-align:center;
        margin-bottom: 10px;
    }
    .details
    {
        color:white;
        text-align:center;
    }
    ul
    {
        padding:0;
        list-style:none;
        line-height: 2;
    }
    div>span
    {
        font-weight:500;
        font-size:77%;
        margin-bottom:20px;
    }

</style>


<div class="container">
    <div class="row logo">
        <h2 style="color: white;">StudyPoint</h2>
        <hr />
    </div>
    <div class="row details">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <h5 style="color: white;"><b><u>Learn</u></b></h5>
            <br />
            <ul>
                <li>Python</li>
                <li>R</li>
                <li>C++</li>
                <li>SQL</li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <h5 style="color: white;"><b><u>Resources</u></b></h5>
            <br />
            <ul>
                <li>Resource Center</li>
                <li>Events</li>
                <li>Blog</li>
                <li>Open Source</li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <h5 style="color: white;"><b><u>Plans</u></b></h5>
            <br />
            <ul>
                <li>Pricing</li>
                <li>For Business</li>
                <li>For Classrooms</li>
                <li>Donations</li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <h5 style="color: white;"><b><u>About</u></b></h5>
            <br />
            <ul>
                <li>About Us</li>
                <li>Learner Stories</li>
                <li>Careers</li>
                <li>Press</li>
                <li>Leadership</li>
            </ul>
        </div>
    </div>
    <div class="row logo">
        <hr />
        <span>Privary Policy &emsp; Cookie Notice &emsp; Accessibility &emsp; Security &emsp; Terms of Use</span>
    </div>
</div>
