
@{
    ViewBag.Title = "FormError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>There was a problem with the form. Please Submit again !</h2>
<br />
<a href="javascript:void(0);" onclick="history.go(-1);">Back to Form</a>
<br />