
@{
    ViewBag.Title = "NoFileChoosen";
    Layout = "~/Views/Shared/AdminSharedView.cshtml";
}
<br />
<h2>No File Choosen To Upload</h2>
<br />
<h3>Please Choose A File To Upload</h3>
<br />
<a href="javascript:void(0);" onclick="history.go(-1);">Back to Form</a>
<br />