.jumbotron
    {
        background-color:white;
        border:0px;
    }
    .cards {
        text-align: center;
    }
    .cards:hover
    {
        -webkit-box-shadow: 0 0 10px rgb(211,211,211);
        -moz-box-shadow: 0 0 10px rgb(192,192,192);
        box-shadow: 0 0 10px rgb(192,192,192);
    }