
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminSharedView.cshtml";
}
<br />
<h1>Welcome Admin !</h1>
<h3>All systems are running smoothly !</h3>
<br />

<div class="row adminRow">
    <div class="col-md-8 col-12 adminText">
        <p class="adminPara">
            The File class in C# provides functionality to work with files.
            The File.Delete(path) method is used to delete a file in C#. The
            File.Delete() method takes the full path (absolute path including the
            file name) of the file to be deleted. If file does not exist, no exception
            is thrown.<br />
            In the above code, the Path.Combine method is used to merge the folder and the file name to make it the absolute path.
            We can get all files in a folder using the Directory.GetFiles method and loop through each file and delete them. 
        </p>
    </div>
    <div class="col-md-4 col-12">
        <img src="~/Pictures/gallery1.jpg" class="adminImage"/>
    </div>
</div>
<div class="row adminRow">
    <div class="col-md-4 col-12">
        <img src="~/Pictures/gallery1.jpg"class="adminImage" />
    </div>
    <div class="col-md-8 col-12 adminText">
        <p class="adminPara">
            The File class in C# provides functionality to work with files.
            The File.Delete(path) method is used to delete a file in C#. The
            File.Delete() method takes the full path (absolute path including the
            file name) of the file to be deleted. If file does not exist, no exception
            is thrown.<br />
            In the above code, the Path.Combine method is used to merge the folder and the file name to make it the absolute path.
            We can get all files in a folder using the Directory.GetFiles method and loop through each file and delete them.
        </p>
    </div>
</div>
<div class="row adminRow">
    <div class="col-md-8 col-12 adminText">
        <p class="adminPara">
            The File class in C# provides functionality to work with files.
            The File.Delete(path) method is used to delete a file in C#. The
            File.Delete() method takes the full path (absolute path including the
            file name) of the file to be deleted. If file does not exist, no exception
            is thrown.<br />
            In the above code, the Path.Combine method is used to merge the folder and the file name to make it the absolute path.
            We can get all files in a folder using the Directory.GetFiles method and loop through each file and delete them.
        </p>
    </div>
    <div class="col-md-4 col-12">
        <img src="~/Pictures/gallery1.jpg" class="adminImage" />
    </div>
</div>