@model List<StudyPoint.Models.UserSharedFileModel>
@{
    ViewBag.Title = "ShareFileManagement";
    Layout = "~/Views/Shared/AdminSharedView.cshtml";
}
<br />
<h2>Files Shared By Users</h2>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>File Name</th>
    </tr>
    @foreach(var file in Model)
    {
        <tr>
            <td>@file.FileName</td>
        </tr>
    }
</table>

