@model IEnumerable<StudyPoint.Models.Course>
@{
    ViewBag.Title = "WhatsNew";
    Layout = "~/Views/Shared/AdminSharedView.cshtml";
}
<br />
<h2>Courses Added Recently</h2>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Instructor</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.ActionLink(course.Name, "Details", "Course", new { id = course.Id }, null)</td>
                <td>@course.InstructorName</td>
                <td>@course.Category</td>
            </tr>
        }
    </tbody>
</table>

